/* universal slector*/
*{
	font-family: 'Noto Serif', serif;
padding: 0;
margin:0;
outline: none;
}
body{
	text-align: center;
	background-color: cyan;
}
canvas{
	
	border:5px solid black;

}
#gc {
	text-align: center;
}
